
@using TopLearnLand_Core.Convertors
@model IEnumerable<TopLearnLand_DataLayer.Entities.Order.Order>
@{
    ViewData["Title"] = "Index";
}

<style type="text/css">
    .mizekar li:hover {
        background-color: #f2f2f2 !important;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    }

    .mizekar li a:hover {
        margin-right: 7px
    }

    .boxshadow:hover {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    }

    .boxshadow {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }

    .boxshadowTabel {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    }

    .margin {
        margin-right: 6px;
    }

    .margin a:hover {
        color: cornflowerblue;
    }

    .wallet tr {
        background-color: #f2f2f2;
    }
</style>

<div class="container" style="height: 50px;">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb thumbnail img-rounded boxshadow">
            <li class="breadcrumb-item margin"><a href="/">تاپ لرن</a></li>
            <li class="breadcrumb-item margin" aria-current="page"> <a href="/UserPanel">پنل کاربری</a> </li>
            <li class="breadcrumb-item margin active" aria-current="page"> فاکتورهای | @User.Identity.Name </li>
        </ul>
    </nav>
</div>

<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <aside>
                        <partial name="_SideBar" />
                    </aside>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content boxshadow">
                        <header><h1 class="alert alert-info text-center" style="font-size: 20px"> فاکتورهای | @User.Identity.Name </h1></header>
                        <hr />
                        @if (ViewBag.deletedOrder == true)
                        {
                            <div class="alert-success">
                                <p class="text-muted">فاکتورشما باموفقیت حذف شد</p>
                            </div>
                        }
                        <div class="inner form-layer">
                            <header><h1 class="text text-success text-center" style="font-size: 20px"> فاکتورهای نهایی شده</h1></header>
                            <hr />
                            <table class="table table-bordered table-responsive table-hover wallet rounded boxshadowTabel">
                                <tr>
                                    <th>شماره فاکتور</th>
                                    <th>پرداخت</th>
                                    <th>تاریخ</th>
                                    <th>مجموع</th>
                                    <th>دستورات</th>
                                </tr>
                                @foreach (var detail in Model.Where(o => o.IsFinaly))
                                {
                                    <tr class="table table-success">
                                        <td class="text-success">
                                            <a href="/UserPanel/MyOrder/ShowOrder/@detail.OrderId" target="_blank">@detail.OrderId</a>
                                        </td>
                                        <td class="text text-success"><i class="icheck-success"></i>نهایی شده</td>
                                        <td class="">@detail.OrderCreateDate.ToShamsiDate()</td>
                                        <td class="text text-success">@detail.OrderSum.ToString("#,0") تومان</td>
                                        <td>
                                            <a class="btn btn-sm btn-info boxshadow" href="/UserPanel/MyOrder/ShowOrder/@detail.OrderId">نمایش فاکتور</a>
                                            <a class="btn btn-sm btn-danger boxshadow" href="/UserPanel/MyOrder/DeleteOrder/@detail.OrderId" disabled><i class="zmdi zmdi-delete"></i> حذف</a>
                                        </td>
                                    </tr>

                                }
                            </table>
                            <br />
                            <header>
                                <h1 class="text text-danger text-center" style="font-size: 20px"> فاکتورهای نهایی نشده</h1>
                            </header>
                            <hr />
                            @if (Model.Any(o => !o.IsFinaly))
                            {
                                <table class="table table-bordered table-responsive table-hover wallet rounded boxshadowTabel">
                                    <tr>
                                        <th>شماره فاکتور</th>
                                        <th>پرداخت</th>
                                        <th>تاریخ</th>
                                        <th>تعداد</th>
                                        <th>جمع هرمحصول</th>
                                    </tr>
                                    @foreach (var detail in Model.Where(o => !o.IsFinaly))
                                    {
                                        <tr class="table table-success">
                                            <td class="text-success">
                                                <a href="/UserPanel/MyOrder/ShowOrder/@detail.OrderId" target="_blank">@detail.OrderId</a>
                                            </td>
                                            <td class="text text-danger"><i class="icheck-success"></i>نهایی نشده</td>
                                            <td class="text text-success">@detail.OrderCreateDate.ToShamsiDate()</td>
                                            <td class="text text-success">@detail.OrderSum.ToString("#,0") تومان</td>
                                            <td>
                                                <a class="btn btn-sm btn-success boxshadow" href="/UserPanel/MyOrder/ShowOrder/@detail.OrderId">نهایی کردن فاکتور</a>
                                                <a class="btn btn-sm btn-danger boxshadow" href="/UserPanel/MyOrder/DeleteOrder/@detail.OrderId" disabled><i class="zmdi zmdi-delete"></i> حذف</a>
                                            </td>
                                        </tr>

                                    }
                                </table>
                            }
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>
