@page
@using TopLearnLand_Core.Convertors
@model TopLearnLand.Pages.Admin.Users.ListDeletedUserModel
@{
    ViewData["Title"] = "ListDeletedUser";
    Layout = "~/Pages/Shared/_AdminAdvanceLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-9">
            <!--Users List-->
            <div class="card card-dark card-outline boxshadow">
                <div class="card-header border-transparent">
                    <h3 class="card-title badge badge-light">List Deleted Users</h3>
                    <!--SearchBox-->
                    <!--/SearchBox-->
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table m-0">
                            <thead>
                                <tr>
                                    <th>user ID</th>
                                    <th>UserName</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th>Register Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model.UsersForAdminPanelViewModels.Users.Where(user => user.IsDeleted).ToList())
                                {
                                    <tr>
                                        <td><a href="/Admin/Users/Profile/@user.UserId">@user.UserId</a></td>
                                        <td><span class="badge badge-light" style="font-size: 14px">@user.UserName</span></td>
                                        <td><span class="badge badge-secondary" style="font-size: 14px">@user.Email</span></td>
                                        <td>
                                            @if (user.IsActive)
                                            {
                                                <span class="badge badge-success" style="font-size: 14px">active</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-danger" style="font-size: 14px">deActive</span>
                                            }
                                        </td>
                                        <td>
                                            <div class="badge badge-warning" style="font-size: 16px" data-color="#00a65a" data-height="20">@user.RegisterDate.ToShamsiDate()</div>
                                        </td>
                                        <td>
                                            <div class="image container">
                                                <img style="max-width: 50px; max-height: 50px" src="/AdminContent/AdminAdvance/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                                            </div>
                                        </td>
                                        <td>
                                            <a href="/Admin/Users/RecoveryUser/@user.UserId" class="btn btn-sm btn-outline-success"><i class="fas fa-user-edit"></i>   Recovery User</a>
                                        </td>
                                        @*<td>
                                                <input type="hidden" name="userId" value="@user.UserId.ToString()" />
                                                <button type="submit" class="btn btn-sm btn-outline-success"><i class="fas fa-user-edit"></i>   Recovery User</button>
                                            </td>*@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    <a href="/Admin/Users/CreateUser" class="btn btn-sm btn-info float-right"><i class="fas fa-user"></i> New User </a>
                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous @((Model.UsersForAdminPanelViewModels.CurrentPage - 1 <= Model.UsersForAdminPanelViewModels.PageCount ? "active" : "disabled"))" id="example2_previous">
                                <a href="/Admin/Users?pageId=@Model.UsersForAdminPanelViewModels.CurrentPage-1" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                            </li>
                            @for (int item = 1; item <= Model.UsersForAdminPanelViewModels.PageCount; item++)
                            {
                                <li class="paginate_button page-item @((item == Model.UsersForAdminPanelViewModels.CurrentPage ? "active" : ""))">
                                    <a href="/Admin/Users?pageId=@item" class="page-link">@item</a>
                                </li>
                            }
                            <li class="paginate_button page-item next  @((Model.UsersForAdminPanelViewModels.CurrentPage + 1 > Model.UsersForAdminPanelViewModels.PageCount ? "active" : ""))" id="example2_next">
                                <a href="/Admin/Users?pageId=@Model.UsersForAdminPanelViewModels.CurrentPage-2" class="page-link">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.card-footer -->
            </div>
            <!--/Users List-->
        </div>
        <div class="col-sm-3 col-md-3">
            <!--Find-User-->
            <div class="card card-dark card-outline boxshadow">
                <div class="card-header">
                    <h3 class="card-title">Find User</h3>
                </div>
                <div class="card-body">
                    <form rol="form">
                        <div class="col-sm-12 col-md-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" name="filterUserName" class="form-control" placeholder="Username">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                                <input type="text" name="filterEmail" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="row col-sm-12 col-md-12 clearfix">
                            <div class="col-sm-7 col-md-7">
                                <button style="display: inline-block" type="submit" class="btn btn-sm btn-primary"> <i class="fas fa-user"></i> Find User</button>
                            </div>
                            <div class="col-sm-5  col-md-5">
                                <a href="/Admin/Users/ListDeletedUser" class="btn btn-sm btn-info"><i class="fa fa-recycle"></i> Refresh </a>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.card-body -->
            </div>
            <!--/Find-User-->
        </div>
    </div>
</div>

