@page "{roleId}"
@model TopLearnLand.Pages.Admin.Roles.DeleteRoleModel
@{
    ViewData["Title"] = "DeleteRole";
    Layout = "~/Pages/Shared/_AdminAdvanceLayout.cshtml";
}

<style type="text/css">

    .boxshadow:hover {
        box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.5);
    }

    .boxshadow {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    }
</style>

<div class="container">
    <h1>DeleteRole</h1>
    <hr />
    <di class="row">
        <!--Users List-->
        <div class="col-sm-6 col-md-6">
            <form method="post" rol="form">
                <input type="hidden" asp-for="Role.RoleId" />
                <input type="hidden" asp-for="Role.RoleTitle" />
                <input type="hidden" asp-for="Role.IsDeleted" />
                <br/>
                <div class="card card-dark card-outline boxshadow">
                    <div class="card-header border-transparent">
                        <h3 class="card-title badge badge-light">Delete Roles</h3>
                        <!--SearchBox-->
                        <!--/SearchBox-->
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                    <tr>    
                                        <th>Role Title</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span class="badge badge-light" style="font-size: 14px">@Model.Role.RoleTitle</span></td>
                                        <td>
                                            <button type="submit" class="btn btn-sm btn-outline-danger"><i class="fas fa-user"></i>Delete Role</button>
                                            <a href="/Admin/Roles/EditRole/@Model.Role.RoleId" class="btn btn-sm btn-outline-secondary"><i class="fas fa-user-edit"></i>Edit Role</a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <a asp-page="CreateRole" class="btn btn-sm btn-info float-right"><i class="fas fa-user"></i> Create New Role </a>
                        @*<div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                    <ul class="pagination">
                        <li class="paginate_button page-item previous @((Model.UsersForAdminPanelViewModels.CurrentPage - 1 <= Model.UsersForAdminPanelViewModels.PageCount ? "active" : "disabled"))" id="example2_previous">
                            <a href="/Admin/Users?pageId=@Model.UsersForAdminPanelViewModels.CurrentPage-1" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                        </li>
                        @for (int item = 1; item <= Model.UsersForAdminPanelViewModels.PageCount; item++)
                        {
                            <li class="paginate_button page-item @((item == Model.UsersForAdminPanelViewModels.CurrentPage ? "active" : ""))">
                                <a href="/Admin/Users?pageId=@item" class="page-link">@item</a>
                            </li>
                        }
                        <li class="paginate_button page-item next  @((Model.UsersForAdminPanelViewModels.CurrentPage + 1 > Model.UsersForAdminPanelViewModels.PageCount ? "active" : ""))" id="example2_next">
                            <a href="/Admin/Users?pageId=@Model.UsersForAdminPanelViewModels.CurrentPage-2" class="page-link">Next</a>
                        </li>
                    </ul>
                </div>*@
                    </div>
                    <!-- /.card-footer -->
                </div>

            </form>
        </div>

        <div class="col-sm-6 col-md-6">
            <!--Find-Role-->
            
            <!--/Find-User-->
        </div>
        <!--/Users List-->
    </di>
</div>