@page
@using TopLearnLand_Core.Convertors
@model TopLearnLand.Pages.Admin.Discount.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_AdminAdvanceLayout.cshtml";
}

<style type="text/css">

    .boxshadow:hover {
        box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.5);
    }

    .boxshadow {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    }
</style>

<div class="container">
    <a href="/Admin/Discount/CreateDiscount/" class="btn btn-outline-success boxshadow"><i class="fas fa-user"></i>Create Discount</a>
    <hr />
    <!--Users List-->
    <div class="card card-dark card-outline boxshadow">
        <div class="card-header border-transparent">
            <h3 class="card-title badge badge-light">لیست تخفیف ها</h3>
            <!--SearchBox-->
            <!--/SearchBox-->
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table m-0">
                    <thead>
                        <tr>
                            <th>کد</th>
                            <th>تعداد</th>
                            <th>درصد</th>
                            <th>از تاریخ</th>
                            <th>تا تاریخ</th>
                            <th>دستورات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var discount in Model.DisCounts)
                        {
                            <tr>
                                <td><span class="badge badge-success" style="font-size: 14px">@discount.DisCountCode</span></td>
                                <td><span class="badge badge-warning" style="font-size: 14px">@discount.UsableCount</span></td>
                                <td><span class="badge badge-secondary" style="font-size: 14px">@discount.Percent %</span></td>
                                <td><span class="badge badge-warning" style="font-size: 14px">@((discount.FromDate!=null)? discount.FromDate.Value.ToShamsiDate():"")</span></td>
                                <td><span class="badge badge-warning" style="font-size: 14px">@((discount.ToDate != null)? discount.ToDate.Value.ToShamsiDate():"")</span></td>
                                <td>
                                    <a href="/Admin/Discount/EditDiscount/@discount.DisCountId" class="btn btn-sm btn-outline-warning boxshadow"><i class="fas fa-user-edit"></i> Edit</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
            <a href="/Admin/Discount/CreateDiscount/" class="btn btn-outline-success boxshadow"><i class="fas fa-user"></i>  Create Discount</a>
            @*<div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                    <ul class="pagination">
                        <li class="paginate_button page-item previous @((Model.UsersForAdminPanelViewModels.CurrentPage - 1 <= Model.UsersForAdminPanelViewModels.PageCount ? "active" : "disabled"))" id="example2_previous">
                            <a href="/Admin/Users?pageId=@Model.UsersForAdminPanelViewModels.CurrentPage-1" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                        </li>
                        @for (int item = 1; item <= Model.UsersForAdminPanelViewModels.PageCount; item++)
                        {
                            <li class="paginate_button page-item @((item == Model.UsersForAdminPanelViewModels.CurrentPage ? "active" : ""))">
                                <a href="/Admin/Users?pageId=@item" class="page-link">@item</a>
                            </li>
                        }
                        <li class="paginate_button page-item next  @((Model.UsersForAdminPanelViewModels.CurrentPage + 1 > Model.UsersForAdminPanelViewModels.PageCount ? "active" : ""))" id="example2_next">
                            <a href="/Admin/Users?pageId=@Model.UsersForAdminPanelViewModels.CurrentPage-2" class="page-link">Next</a>
                        </li>
                    </ul>
                </div>*@
        </div>
        <!-- /.card-footer -->
    </div>
    <!--/Users List-->
    <di class="row">
        <div class="col-sm-6 col-md-6">
            <!--Find-User-->
            <div class="card card-dark card-outline boxshadow">
                <div class="card-header">
                    <h3 class="card-title">Find Discount</h3>
                </div>
                <div class="card-body">
                    <form rol="form">
                        <div class="col-sm-10 col-md-10">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" name="filterUserName" class="form-control" placeholder="Username">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-10">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                                <input type="text" name="filterEmail" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="row col-sm-10 col-md-10 clearfix">
                            <div class="col-sm-6  col-md-6">
                                <button type="submit" class="btn btn-sm btn-primary"> <i class="fas fa-user"></i> Find User</button>
                                <a href="/Admin/Users" class="btn btn-sm btn-info"><i class="fa fa-recycle"></i> Refresh </a>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.card-body -->
            </div>
            <!--/Find-User-->
        </div>
    </di>
</div>

